@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

* {
  transition-property: background-color, color;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}
