@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

* {
  transition-property: background-color, color;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* -webkit-text-fill-color: white; */
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.input:-webkit-autofill {
  animation-name: onAutoFillStart;
}

.input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}

.status-animation {
  animation-name: onAppear;
}

@keyframes onAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onAutoFillCancel {
}
